[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
black = "*"
openai = "==0.28.1"
python-dotenv = "*"
google-search-results = "*"
tweepy = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
